<Template name="login">
  <div class="content-block login">
    <div class="ui form">
      <div class="field">
        <div class="ui left icon input">
          <input type="text" placeholder="手机号" />
          <i class="phone icon"></i>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <input type="text" placeholder="6-25位的字母数字或下划线" />
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="field divider">
        <button class="button button-danger button-fill">
          <i class="check circle icon"></i> 登录
        </button>
      </div>
      <div class="field flex-box text-hint inner-container">
        <div class="box text-left">
          <a href="/register">注册账号</a>
        </div>
        <div class="box text-right">
          <a href="/reset">忘记密码</a>
        </div>
      </div>
      <div class="solid"></div> 
      <div class="field text-center divider">
        <div class="text-hint">
          第三方登录
        </div>
        <div>
          <div class="circle-box-container">
            <div class="circle-box blue-icon">
              <i class="qq icon"></i>
            </div>
            <div class="circle-box green-icon">
              <i class="wechat icon"></i>
            </div>
            <div class="circle-box red-icon">
              <i class="weibo icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Template>