<Template name="modify">
  <div class="content-block modify">
    <div class="ui form">
      <div class="field">
        <div class="ui left icon input">
          <input type="text" placeholder="输入新密码" />
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <input type="text" placeholder="再次输入" />
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="field divider">
        <button class="button button-danger button-fill">
          <i class="lock-circle"></i>
          <span>重置密码</span>
        </button>
      </div>
    </div>
  </div>
</Template>