<Template name="navbar_title">
    <h1 class="title">{{title}}</h1>  
</Template>   

<Template name="navbar">
  <header class="bar bar-nav">    
      {{>navbar_title}}
  </header>  
</Template>

<Template name="back_navbar">
  <header class="bar bar-nav">    
     {{#unless home}}
        <a class="icon-back router pull-left" href="#"> 
          <i class="icon back-icon"></i>     
        </a>       
     {{/unless}}
     {{#if home}}
        <a class="icon-back router pull-left" href="/{{home}}">   
          <i class="icon back-icon"></i>        
        </a>         
     {{/if}}      
     {{>navbar_title}}
  </header>  
</Template>

<Template name="render_back_navbar">
  <header class="bar bar-nav">    
    <a class="icon-back reload pull-left" href="#"> 
      <i class="icon back-icon"></i>     
    </a>                 
    {{>navbar_title}}
  </header>  
</Template>
   
<Template name="history_navbar">
  <header class="bar bar-nav">       
    <a class="icon-back router pull-left" href="/usercenter"> 
      <i class="icon back-icon"></i>     
    </a>               
    {{>navbar_title}}
    <button class="button pull-right">全部清空</button>
  </header>   
</Template>   

<Template name="message_navbar">
  <header class="bar bar-nav">  
    {{#if isFromCenter}}
    <a class="icon-back router pull-left" href="/usercenter"> 
      <i class="icon back-icon"></i>     
    </a>  
    {{/if}}
    {{>navbar_title}}
    <button class="button pull-right">全部清空</button>
  </header>   
</Template>   
            
<Template name="search_navbar">
  <header class="bar bar-nav filter_navbar">    
    <a class="icon-back router pull-left" href="/"> 
      <i class="icon back-icon"></i>     
    </a>            
    <div class="ui input">
      <input type="text" placeholder="请输入企业名称或字号">
    </div>
  </header>
</Template>     

      
<Template name="filter_navbar">
  <header class="bar bar-nav filter_navbar">    
    <a class="icon-back router pull-left" href="/"> 
      <i class="icon back-icon"></i>     
    </a>        
    <div class="ui input">
      <input type="text" placeholder="请输入企业名称或字号">
    </div>
    <a class="pull-right filter-btn">{{status}}
    <i class="angle down icon"></i>
    </a>
  </header>
  {{>compontent_filter}}
</Template>     
