<Template name="history">
  <div class="content-block history">
    <div class="list-block list-card">
      <ul>
        <li class="item-content card">
          <div class="item-inner">
            <div class="item-title">开心</div>
            <div class="item-after">
              2016-02-19
            </div>
          </div>

        </li>
        <li class="item-content card">
          <div class="item-inner">
            <div class="item-title">上海开业啦有限公司</div>
            <div class="item-after">
              2016-02-19
            </div>            
          </div>
        </li>
      </ul>
    </div>
  </div>  
</Template>