<Template name="application_create">
  <div class="content-block app_create">
    
    <div class="content-block-title">
      企业全称
    </div>       
    <div class="ui left icon input">
      <input type="text" placeholder="请输入企业全称">
      <i class="input icon"></i>
    </div>
    <div class="content-block-title">
      通知方式
    </div>     
    <div class="list-block card">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title label">短信通知</div>
              <div class="item-after">
                <div class="item-input">
                  <label class="label-switch">
                    <input type="checkbox">
                    <div class="checkbox"></div>
                  </label>
                </div>              
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title label">站内通知</div>
              <div class="item-after">
                <div class="item-input">
                  <label class="label-switch">
                    <input type="checkbox">
                    <div class="checkbox"></div>
                  </label>
                </div>              
              </div>
            </div>
          </div>
        </li>      
      </ul>
    </div>     
  </div>
</Template>