<Template name="application">
  <div class="content-block application">
    <div class="list-block list-card">
      <ul>
        <li class="item-content item-link card">
          <div class="item-inner">
            <div class="item-title">上海开心宝网络科技有限公司</div>
            <div class="item-after">审查中</div>
          </div>
        </li>
        <li class="item-content item-link card">
          <div class="item-inner">
            <div class="item-title">上海开心宝网络科技有限公司</div>
            <div class="item-after">核准，可取</div>
          </div>
        </li>
        <li class="item-content item-link card">
          <div class="item-inner">
            <div class="item-title">上海开心宝网络科技有限公司</div>
            <div class="item-after">审查中</div>
          </div>
        </li>            
      </ul>
    </div>    
  </div>
  <div class="boardwalk">
   <div class="board-content flexbox">
     <button class="button box left">新增</button>
     <button class="button box right button-dark">删除</button>
   </div>    
  </div>
</Template>