<Template name="analysis_list">
  <div class="result-bar">
    <div class="pull-left">
      <i class="icon icon-search-bar"></i>开心
    </div>
    <div class="pull-right">已存在<span class="highlight">65</span>家</div>
  </div>
  <div class="content-block analysis_list">
    <div class="list-block list-card">
      <ul>
        <li class="item-content card item-path"  data-path="analysis_result">
          <div class="item-inner">
            <div class="item-title">
              <div class="segement-title">上海开心宝网络科技有限公司</div>
              <div class="segement-content">
                地址：上海市张江高科技园区郭守敬路351号 2号楼A653-14室
              </div>
            </div>
            <div class="item-after">
              <div class="text-center">
                <div><span class="highlight">3</span>条</div>
                <div>享受政策</div>
              </div>
            </div>
          </div>
        </li>
        <li class="item-content card item-path" data-path="analysis_result">
          <div class="item-inner">
            <div class="item-title">
              <div class="segement-title">上海开心宝网络科技有限公司</div>
              <div class="segement-content">
                地址：上海市张江高科技园区郭守敬路351号 2号楼A653-14室
              </div>
            </div>
            <div class="item-after">
              <div class="text-center">
                <div><span class="highlight">3</span>条</div>
                <div>享受政策</div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div>
      <button class="button button-fill">
        <span class="preloader"></span>点击加载更多
      </button>
    </div>

  </div>  
</Template>